# # vscode ================================
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# # C++ ================================
#  Prerequisites
# *.d

# # Compiled Object files
# *.slo
# *.lo
# *.o
# *.obj

# # Precompiled Headers
# *.gch
# *.pch

# # Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# # Fortran module files
# *.mod
# *.smod

# # Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# # Executables
# *.exe
# *.out
# *.app


# # CMake ================================
# bin/
# build/
# CMakeLists.txt.user
# CMakeCache.txt
# CMakeFiles
# CMakeScripts
# Testing
# Makefile
# cmake_install.cmake
# install_manifest.txt
# compile_commands.json
# CTestTestfile.cmake

build/
bin/
src/python/test.py
*.engine
*.onnx